name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master
      - develop

permissions:
  contents: write

jobs:
  deploy:
    name: Deploy to gh-pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        working-directory: ./web
        run: bun install

      - name: Build project
        working-directory: ./web
        run: bun run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # 배포할 브랜치 이름
          folder: built # 배포할 디렉터리 (루트의 'built')
          clean: true # 배포 브랜치의 기존 파일을 모두 삭제합니다.
